<!-- /views/paper.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Paper</title>
</head>

<body>

  <ul>
    <li><a href="/app/rock">Play Rock</a></li>
    <li><a href="/app/paper">Play Paper</a></li>
    <li><a href="/app/scissors">Play Scissors</a></li>
  </ul>

<h1>We played paper!</h1>
  <p><%= @outcome %></p>

  <% if @play == "paper"%>
   <p>We tied!</p>
  <% elsif @play == "rock"%>
   <p>We won!</p>
  <% else %>
   <p>We lost!</p>
  <% end %>
</body>
</html>
