<!-- /views/rock.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Rock</title>
</head>

<body>
  <ul>
    <li><a href="/rock">Play Rock</a></li>
    <li><a href="/paper">Play Paper</a></li>
    <li><a href="/scissors">Play Scissors</a></li>
    <li><a href="/">Rules</a></li>
  </ul>

<h1>We played rock!</h1>
   <p><%= @outcome %></p>

  <% if @play == "paper"%>
   <p>We lost!</p>
  <% elsif @play == "rock"%>
   <p>We tied!</p>
  <% else %>
   <p>We won!</p>
  <% end %>
</body>
</html>
