<!-- /views/scissors.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Scissors</title>
</head>

<body>

<h1>Scissors</h1>
  <p><%= @outcome %></p>

  <% if @play == "paper"%>
   <p>We won!</p>
  <% elsif @play == "rock"%>
   <p>We lost!</p>
  <% else %>
   <p>We tied!</p>
  <% end %>
</body>
</html>
